.site-footer{

    background-color: rgb(59, 91, 116);
    padding-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), linear-gradient(.25turn, #282a2d, #3f444d);
    color: white;
    padding-bottom: 50px;
}

@media (max-width: 640px) {
.logo-footer{
margin: 50px;
margin-left: 35vw;


}
.footer-products{
    display: none;
}
}