p{
    text-align: justify;
}

.nosotros-img{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
}

.custobutton{
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);

}


@media (max-width: 640px) {
.nosotros-img {
width: 80vw;
    }
}