.Card.Img img{
    height: 500px;
}

.card-img-top{
    height: 240px;
    object-fit: cover;
    filter: brightness(70%);
}

.card-title{
    margin-bottom: 10px !important;
    margin-top: 10px !important;

}

.card{
        height: 370px !important;
        width: 410px !important;
        cursor: pointer;
        box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
        transition: all 1s ease;
        margin: 0px;
}

.card:hover{
    filter: brightness(120%);
        box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.8);
        transition: all 1s ease;
        transform: scale(1.01);
}
.product-cont-title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), linear-gradient(.25turn, #3c4662, #727d9c);
}


.alcmodal{
    border-radius: 10px;
    margin: 10px;
}


.producto-main{
        background-image: linear-gradient(.25turn, #f4f5f8, #e6e6e9);
}















@media (max-width: 640px) {
    .card {
        width: 200px !important;
        margin: 0;
    }

    .card-title {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    .card-img-top {
        height: 180px ;


    }
}